.ArticleView {
  padding-top: var(--header-height);

  overflow: hidden;
  aside {
    box-sizing: border-box;
    font-size: 0.9em;
    position: fixed;
    padding: 0 1em;
    width: calc((100vw - 800px) / 2);
    white-space: nowrap;
    ul {
      list-style: none;
      padding: 0;
      line-height: 2;
    }
    li {
      > div {
        text-overflow: ellipsis;
        overflow: hidden;
      }
      transition: all 0.3s ease;
      padding: 0 1ch;
      cursor: pointer;
      &:hover {
        background-color: hsla(var(--primary-hsl), 0.1);
        border-radius: 7px;
      }
      &.active {
        font-weight: bold;
      }
    }
    @media (max-width: 1200px) {
      & {
        display: none;
      }
    }
  }
  > article {
    width: 800px;
    margin: 0 auto;
    .nad {
      svg {
        display: inline-block;
        vertical-align: -1px;
        width: 1em;
        fill: currentColor;
      }
      color: var(--primary);
      font-weight: bold;
    }
    .swagger {
      color: #50990f;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
      svg {
        display: inline-block;
        vertical-align: -6px;
        width: 1.5em;
      }
    }
    .weak {
      opacity: 0.5;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      position: relative;
      border-radius: 10px;
    }
  }
  .flashing {
    position: absolute;
    z-index: -1;
    color: hsla(var(--primary-hsl), 0.3);
    background: currentColor;
    inset: 0;
    border-radius: 1ch;
    box-shadow: 0 0 8px 8px currentColor;
    animation: fadeOut ease-in 1s;
    animation-fill-mode: forwards;
  }
}

@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
