.Header {
  position: fixed;
  z-index: 1;
  background-color: var(--background-color);
  top: 0;
  width: 100%;
  box-sizing: border-box;
  height: var(--header-height);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  gap: 2ch;
  padding: 0 1em;
  .logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    svg {
      fill: var(--primary);
      width: 24px;
      height: 24px;
    }
    h1 {
      font-size: 1.25em;
      margin-left: 1ch;
      color: var(--primary);
    }
  }
  .navbar {
    margin-left: 100px;
    display: flex;
    align-items: center;
    gap: 2ch;
    a {
      position: relative;
      text-decoration: none;
      color: inherit;
      transition: color 0.3s ease, background-color 0.3s ease;
      --height: 36px;
      overflow: hidden;
      line-height: var(--height);
      border-radius: var(--height);
      padding: 0 1em;
      &:hover {
        background-color: hsla(var(--primary-h), 5%, var(--primary-l), 0.1);
      }
      &.active {
        color: var(--primary);
        background-color: hsla(var(--primary-hsl), 0.1);
      }
    }
  }
}
